<!DOCTYPE html>
<html lang ='ru'>
	<head>
		<title> Mail Heaven </title>
		<meta charset = 'utf-8'/>
		<link rel = 'shortcut icon' type = 'image/png' href = '/images/icon.png'/>
		<link rel = 'stylesheet' type = 'text/css' href = '/styles/common.css'>
		<link rel = 'stylesheet' type = 'text/css' href = '/styles/errorPage.css'>
	</head>
	<body>
		<div id = 'background'>
		</div>
		<div id = 'content' class = 'contentBlurOff'>
			<div id = 'crest'>
				†
			</div>
			<div id = 'text'>
				Что то пошло не так...
			</div>
			<div id = 'subText'>
				Мы зафиксировали повышенное содержание греха в данных. Попробуйте повторить попытку позже...
			</div>
		</div>
	</body>
</html>