<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang ='ru'>
	<head>
		<title> Mail Heaven </title>
		<meta charset = 'utf-8'/>
		<link rel = 'shortcut icon' type = 'image/png' href = '/images/icon.png'/>
		<link rel = 'stylesheet' type = 'text/css' href = '/styles/common.css'>
		<link rel = 'stylesheet' type = 'text/css' href = '/styles/authorizationPages.css'>
	</head>
	<body>
		<section id = 'leftSection'>
			<div id = 'logo'>
				Mail Heaven
			</div>
			<div id = 'description'>
				Простой, быстрый и надежный доступ к любому из ваших почтовых ящиков&nbsp;...
			</div>
			<div id = 'phrase'>
				... даже с того света
				<span> †</span>
			</div>
		</section>
		<section id = 'rightSection'>

			<form id = 'loginForm' th:action="@{/login}" method="post" th:object="${user}">
				<div class = 'formTitle'>
					Вход
				</div>
				<div th:if="${errorMessage}" class = 'formError' th:text="${errorDescription}"></div>
				<input type = 'text' name = 'username' placeholder = 'Логин' required>
				<input type = 'password' name = 'password' placeholder = 'Пароль' required>
				<div id = 'loginControl'>
					<label class = 'labelWithCheckbox'>
						<input type = 'checkbox' name = 'rememberMe' checked = 'true'>
						<div>
						</div>
						Запомнить меня
					</label>
					<a>
						Забыли пароль?
					</a>
				</div>
				<input type = 'submit' value = 'Войти'>
				<div class = 'formNote'>
					Если у Вас до сих пор нет аккаунта, то
					<strong>
						поспешите
					</strong>
					<a id = 'registrationRef' href = '/registration'>
						зарегистрироваться
					</a>
				</div>
			</form>
		</section>
	</body>
</html>